:root {
    --main-color: #552525f6;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5;
    font-size: 2rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

.btn {
    background-color: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.home-container {
    background: url("./img/restos.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3 {
    color: #000000;
    font-size: 6rem;
}

.content p {
    color: #000000;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0rem;
}

.title {
    font-size: 5rem;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;
}

.title span {
    color: #fff;
    text-transform: uppercase;
}
 
.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
  
}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.box-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.box {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.box img {
  width: 100%;
  border-radius: 10px;
}

.box h3 {
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  background-color:var(--main-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.box h3 {
  margin: 10px 0;
}

.box-container-actors {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 30px;               
  flex-wrap: wrap;         
  margin: 0 auto;          
}


.box-container {
  display: grid;
  grid-template-columns: repeat(4, 0.2fr); 
  gap: 20px; 
  justify-items: center;
  padding: 20px;
}

.box {
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 15px;
  width: 220px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}